* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    color: white;
    background-color: rgb(79, 47, 68);
}

.main {
    min-height: calc(100vh - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}